.countdown 	

	&__window
		margin: 0 auto
		padding: 20px
	
	&__title
		margin-top: 0
		

.timer
	font-size: 72px
	font-weight: 700
	display: grid
	justify-content: center
	align-items: center
	grid-template-columns: repeat(2, 95px)
	gap: 85px
	@media (min-width: 768px)
		grid-template-columns: repeat(4, 95px)
		gap: 30px
		

	&__item
		position: relative;
		padding-bottom: 15px
		text-align: center

.timer__item::before
  font-size: 18px
  font-weight: 500
  content: attr(data-title)
  display: block
  position: absolute
  left: 50%
  bottom: 0
  transform: translateX(-50%)
  
		
.button-buy-ticket
	width: 150px
	margin: 40px auto