.footer
	margin-top: 50px
	font-family: 'Roboto'
	text-transform: none

	&__content
		font-size: 18px
		display: grid
		grid-template-columns: 1fr
		gap: 10px
		@media (min-width: 768px)
			grid-template-columns: 1fr 1fr
			gap: 75px
		@media (min-width: 992px)
			font-size: 24px

	&__section
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start	

	&__bottom
		margin-top: 40px
		@media (min-width: 992px)
			margin-top: 120px
		
.contacts

	&__item
		margin-bottom: 10px
		display: flex
		flex-direction: column

	&__value
		color: $text-first

.subscribe
	width: 100%

	&__title
		margin-bottom: 5px
	
	&__form
		width: 100%
		height: 35px
		display: flex
		justify-content: space-between
		align-items: center
	
	&__button
		height: 35px
		padding: 5px 20px
		
		&.is-active
			

.socials
	margin: 10px 0

	&__list
		display: flex
		justify-content: space-between
		align-items: center

	&__item
		position: relative
		width: 43px
		height: 43px
		margin-right: 20px
		margin-top: 10px
		background-color: $text-first
		
		&:hover
			transform: scale(1.1)
			border-radius: 5px

	&__link
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		display: block
	
	&__icon
		display: block
		position: absolute
		top: 7px
		left: 7px
	
.bottom
	padding: 15px 5px 20px 5px
	background-color: $text-first

	&__container
		font-size: 14px
		text-align: center
		display: flex
		flex-wrap: wrap
		justify-content: space-around
		align-items: center


	&__copy
		color: $main-theme
		padding: 5px 0

	&__terms
		color: $text-second
		padding: 5px 0