.header
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 3

	
	&__container
		display: grid
		grid-template-columns: 150px 1fr
		gap: 120px
			
	&__menu
		display: flex
		justify-content: flex-end		
		align-items: center
			
	&__navigation
		width: 100%		

	&__button
		padding: 5px 15px
		border: 2px solid $text-first
		

.logo
	width: 110px
	height: 55px
	@media (min-width: 992px)
		width: 150px
		height: 75px

	&__image
		width: 100%
		height: 100%

		&.is-active
			filter: grayscale(1) brightness(0) invert(1)
		

.navigation
	display: none
	@media (min-width: 992px)
		display: block

	&__list
		display: flex
		justify-content: space-between
		align-items: center

	&__item
			cursor: pointer
			
	&__link

.navigation.is-active
	display: block
	position: absolute
	z-index: -1
	top: 0
	left: 0
	right: 0
	height: 500px
	padding-top: 100px
	background-color: $text-first

	& .navigation__list
		height: 100%
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		padding: 20px
		font-weight: 700
	
	& .header__button
		padding: 5px 15px
		border: 2px solid $text-second
	


.burger
	position: relative
	display: flex
	justify-content: center
	align-items: center
	width: 32px
	height: 32px
	border-top: 2px solid $text-second
	border-bottom: 2px solid $text-second
	@media (min-width: 992px)
		display: none

	&::before
		position: absolute
		width: 100%
		height: 2px	
		content: ''
		background-color: $text-second
		transform: rotate(0deg)
		transition: 0.2s

	&::after
		position: absolute
		width: 100%
		height: 2px	
		content: ''
		background-color: $text-second
		opacity: 0
		transition: 1s

	&.is-active
		border: 2px solid $text-second
		background-color: $text-first

		&::before
			position: absolute
			width: 100%
			height: 2px	
			content: ''
			background-color: $text-second
			transform: rotate(225deg)
		   transition: 0.2s
		
		&::after
			position: absolute
			width: 100%
			height: 2px	
			content: ''
			background-color: $text-second
			transform: rotate(-45deg)
			opacity: 1
		   transition: 0.2s

.header__bg
	background-color: $main-theme
	width: 100%
	height: 55px
	@media (min-width: 992px)
		height: 75px 
	position: sticky
	top: 0
	left: 0
	right: 0
	z-index: 2		