//для видео - клацать дважды

.hero
	margin: 0
	position: relative
	z-index: 2
	height: 750px

	&__bg
		display: none
		// opacity: 1
		// transition: 1s

		&.is-active
			width: 100%
			height: 100%
			object-fit: cover
			display: block
			position: absolute
			z-index: 2
			top: 0
			bottom: 0
			left: 0
			right: 0
			// opacity: 0
			// transition: 1s
	
	&__video
		display: none
		// opacity: 1
		// transition: 1s

		&.is-active
			display: block
			position: absolute
			z-index: 1
			top: 60px
			bottom: 0
			left: 0
			right: 0
			// opacity: 1
			// transition: 1s

	&__cover
		display: none
		
		&.is-active
			display: block
			position: absolute
			z-index: 2
			width: 100%
			height: 100%
			background-color: transparent
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: center

	&__content
		position: absolute
		z-index: 3
		width: 100%
		height: 40%
		background-color: transparent
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center

	&__title
		margin-top: 0
		margin-bottom: 10px
		@media (min-width: 576px)
				margin-top: 30px
				margin-bottom: 20px
		font-size: $font-xl
		color: $text-second
		@media (min-width: 992px)
			font-size: 48px
	
	&__text
		text-align: center
		@media (min-width: 992px)
			font-size: 24px		

.play-button
	width: 78px
	height: 78px
	background-color: transparent
	margin: 100px

	&.is-active
		display: none