.lineup
	
	&__slider
		margin: 0 auto

.slider
	position: relative

	&__controls
		position: absolute
		right: 10px
		bottom: -35px
		@media (min-width: 576px)
			top: -70px

	&__item
		

.arrows
	width: 85px
	height: 25px
	display: flex
	justify-content: space-between
	align-items: center
	color: $text-first

	&__prev
		width: 35px
		font-size: 35px
		font-weight: 700
		background-color: $transp-light
		border-radius: 5px
		cursor: pointer

	&__next
		width: 35px
		font-size: 35px
		font-weight: 700
		background-color: $transp-light
		border-radius: 5px
		cursor: pointer

.member	
	position: relative
	padding: 0 10px
	height: 345px
	width: 270px
	@media (min-width: 768px)
		width: 345px
	@media (min-width: 992px)
		width: 270px
	@media (min-width: 1200px)
		width: 345px
	
	&__image
		display: block
		margin: 0 auto
		height: 100%
		width: 100%
		object-fit: cover

	&__name
		display: block
		padding: 15px 0
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		font-size: 24px
		font-weight: 700
		text-align: center
		color: $text-first
		padding: 15px auto
		background-color: $transp-dark