//нет кнопки возврата
	
*
	list-style: none
	text-decoration: none
	color: inherit
	box-sizing: border-box
	margin: 0
	padding: 0
	border: none
	
.page
	background-color: $main-theme

	font-family: 'Poppins'
	text-transform: uppercase
	color: $text-second

	&__content
	

	&__section
		margin-bottom: $gap-s

.title
	margin: 100px auto 30px auto
	font-size: $font-l
	font-weight: 700
	color: $text-first
	text-align: center
	@media (min-width: 992px)
		font-size: $font-xl

.text
	text-transform: none
	
.button
	background-color: $text-first
	padding: 15px 25px
	color: $main-theme
	font-family: 'Roboto'
	font-weight: 500
	cursor: pointer

	&:hover
		box-shadow: 0 0 3px 0 $text-second

