.request 

	&__title
		margin-bottom: 10px
	
	&__text
		text-align: center
		@media (min-width: 768px)
			text-align: left
		margin-bottom: 30px
		font-family: 'Roboto'

	&__form
		display: grid
		grid-template-columns: 1fr
		gap: 0
		@media (min-width: 768px)
			grid-template-columns: 1fr 1fr
			gap: 75px
		color: $main-theme
		font-family: 'Roboto'
		font-size: 13px
		@media (min-width: 768px)
			font-size: 18px
			
.form 
	position: relative

	&__column 
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: center

	&__field
		width: 100%
		padding: 10px
		@media (min-width: 768px)
			margin: 0
		
		&::placeholder
		font-family: 'Roboto'
		font-size: 13px
		// @media (min-width: 768px)
		// 	font-size: 18px

		&.error
			box-shadow: 0 0 15px 0 $col-error

	&__button
		width: 110px
		height: 50px
		position: absolute
		bottom: 0
		right: 0

	&__control
		position: relative
		width: 100%
		margin: 0
		padding: 20px 0 0 0
		// border: 2px solid white
	
	&__message
		display: none

		&.is-active
			display: block
			width: 100%
			padding: 5px 20px
			margin: 0 auto
			text-align: center
			color: $text-second
			background-color: $text-first
			border: 2px solid $text-second
			border-radius: 15px
			position: absolute

.message
	display: block
	margin: 0

div.error
	position: absolute
	top: 0
	color: $col-error
	font-size: 14px
	text-transform: none