.sponsors

	&__item
		padding: 5px
		
	&__link
		display: block
		padding: 23px 10px
		background-color: $text-second


	&__image
		display: block
		width: 100px
		height: 30px
		margin: 0 auto

.slick-dots
	display: flex
	justify-content: center
	align-items: center

	button
		font-size: 0
		width: 11px
		height: 11px
		border-radius: 50%
		margin: 10px
		background-color: rgba(255,255,255, 0.1)
		cursor: pointer
	
	li.slick-active
		button
			background-color: $text-first
