:root {
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;
}

.container {
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 576px) {
  .container {
    --container-width: var(--mq-size-sm);
  }
}

@media (min-width: 768px) {
  .container {
    --container-width: var(--mq-size-md);
  }
}

@media (min-width: 992px) {
  .container {
    --container-width: var(--mq-size-lg);
  }
}

@media (min-width: 1200px) {
  .container {
    --container-width: var(--mq-size-xl);
  }
}

/* @media (min-width: 576px)
@media (min-width: 768px)
@media (min-width: 992px)
@media (min-width: 1200px) */
* {
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.page {
  background-color: #121212;
  font-family: 'Poppins';
  text-transform: uppercase;
  color: #ffffff;
}

.page__section {
  margin-bottom: 40px;
}

.title {
  margin: 100px auto 30px auto;
  font-size: 24px;
  font-weight: 700;
  color: #feba08;
  text-align: center;
}

@media (min-width: 992px) {
  .title {
    font-size: 36px;
  }
}

.text {
  text-transform: none;
}

.button {
  background-color: #feba08;
  padding: 15px 25px;
  color: #121212;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 3px 0 #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.header__container {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 120px;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__navigation {
  width: 100%;
}

.header__button {
  padding: 5px 15px;
  border: 2px solid #feba08;
}

.logo {
  width: 110px;
  height: 55px;
}

@media (min-width: 992px) {
  .logo {
    width: 150px;
    height: 75px;
  }
}

.logo__image {
  width: 100%;
  height: 100%;
}

.logo__image.is-active {
  filter: grayscale(1) brightness(0) invert(1);
}

.navigation {
  display: none;
}

@media (min-width: 992px) {
  .navigation {
    display: block;
  }
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  cursor: pointer;
}

.navigation.is-active {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 500px;
  padding-top: 100px;
  background-color: #feba08;
}

.navigation.is-active .navigation__list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  font-weight: 700;
}

.navigation.is-active .header__button {
  padding: 5px 15px;
  border: 2px solid #ffffff;
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

.burger::before {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #ffffff;
  transform: rotate(0deg);
  transition: 0.2s;
}

.burger::after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #ffffff;
  opacity: 0;
  transition: 1s;
}

.burger.is-active {
  border: 2px solid #ffffff;
  background-color: #feba08;
}

.burger.is-active::before {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #ffffff;
  transform: rotate(225deg);
  transform-transition: 0.2s;
}

.burger.is-active::after {
  position: absolute;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #ffffff;
  transform: rotate(-45deg);
  opacity: 1;
  opacity-transition: 0.2s;
}

.header__bg {
  background-color: #121212;
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media (min-width: 992px) {
  .header__bg {
    height: 75px;
  }
}

.hero {
  margin: 0;
  position: relative;
  z-index: 2;
  height: 750px;
}

.hero__bg {
  display: none;
}

.hero__bg.is-active {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__video {
  display: none;
}

.hero__video.is-active {
  display: block;
  position: absolute;
  z-index: 1;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero__cover {
  display: none;
}

.hero__cover.is-active {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero__content {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 40%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  color: #ffffff;
}

@media (min-width: 576px) {
  .hero__title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .hero__title {
    font-size: 48px;
  }
}

.hero__text {
  text-align: center;
}

@media (min-width: 992px) {
  .hero__text {
    font-size: 24px;
  }
}

.play-button {
  width: 78px;
  height: 78px;
  background-color: transparent;
  margin: 100px;
}

.play-button.is-active {
  display: none;
}

.countdown__window {
  margin: 0 auto;
  padding: 20px;
}

.countdown__title {
  margin-top: 0;
}

.timer {
  font-size: 72px;
  font-weight: 700;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 95px);
  gap: 85px;
}

@media (min-width: 768px) {
  .timer {
    grid-template-columns: repeat(4, 95px);
    gap: 30px;
  }
}

.timer__item {
  position: relative;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item::before {
  font-size: 18px;
  font-weight: 500;
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.button-buy-ticket {
  width: 150px;
  margin: 40px auto;
}

.lineup__slider {
  margin: 0 auto;
}

.slider {
  position: relative;
}

.slider__controls {
  position: absolute;
  right: 10px;
  bottom: -35px;
}

@media (min-width: 576px) {
  .slider__controls {
    top: -70px;
  }
}

.arrows {
  width: 85px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #feba08;
}

.arrows__prev {
  width: 35px;
  font-size: 35px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.arrows__next {
  width: 35px;
  font-size: 35px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.member {
  position: relative;
  padding: 0 10px;
  height: 345px;
  width: 270px;
}

@media (min-width: 768px) {
  .member {
    width: 345px;
  }
}

@media (min-width: 992px) {
  .member {
    width: 270px;
  }
}

@media (min-width: 1200px) {
  .member {
    width: 345px;
  }
}

.member__image {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.member__name {
  display: block;
  padding: 15px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #feba08;
  padding: 15px auto;
  background-color: rgba(18, 18, 18, 0.8);
}

.sponsors__item {
  padding: 5px;
}

.sponsors__link {
  display: block;
  padding: 23px 10px;
  background-color: #ffffff;
}

.sponsors__image {
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #feba08;
}

.request__title {
  margin-bottom: 10px;
}

.request__text {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Roboto';
}

@media (min-width: 768px) {
  .request__text {
    text-align: left;
  }
}

.request__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  color: #121212;
  font-family: 'Roboto';
  font-size: 13px;
}

@media (min-width: 768px) {
  .request__form {
    grid-template-columns: 1fr 1fr;
    gap: 75px;
  }
}

@media (min-width: 768px) {
  .request__form {
    font-size: 18px;
  }
}

.form {
  position: relative;
}

.form__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__field {
  width: 100%;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 13px;
}

@media (min-width: 768px) {
  .form__field {
    margin: 0;
  }
}

.form__field.error {
  box-shadow: 0 0 15px 0 #ff0000;
}

.form__button {
  width: 110px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.form__control {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 20px 0 0 0;
}

.form__message {
  display: none;
}

.form__message.is-active {
  display: block;
  width: 100%;
  padding: 5px 20px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #feba08;
  border: 2px solid #ffffff;
  border-radius: 15px;
  position: absolute;
}

.message {
  display: block;
  margin: 0;
}

div.error {
  position: absolute;
  top: 0;
  color: #ff0000;
  font-size: 14px;
  text-transform: none;
}

.footer {
  margin-top: 50px;
  font-family: 'Roboto';
  text-transform: none;
}

.footer__content {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 768px) {
  .footer__content {
    grid-template-columns: 1fr 1fr;
    gap: 75px;
  }
}

@media (min-width: 992px) {
  .footer__content {
    font-size: 24px;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__bottom {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .footer__bottom {
    margin-top: 120px;
  }
}

.contacts__item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.contacts__value {
  color: #feba08;
}

.subscribe {
  width: 100%;
}

.subscribe__title {
  margin-bottom: 5px;
}

.subscribe__form {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__button {
  height: 35px;
  padding: 5px 20px;
}

.socials {
  margin: 10px 0;
}

.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials__item {
  position: relative;
  width: 43px;
  height: 43px;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #feba08;
}

.socials__item:hover {
  transform: scale(1.1);
  border-radius: 5px;
}

.socials__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.socials__icon {
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
}

.bottom {
  padding: 15px 5px 20px 5px;
  background-color: #feba08;
}

.bottom__container {
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bottom__copy {
  color: #121212;
  padding: 5px 0;
}

.bottom__terms {
  color: #ffffff;
  padding: 5px 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
